<header id="header" class="header">
    <div class="container container__mobile">
        <input type="checkbox" id="menu" class="container__button">
        <label for="menu" class="container__label">
            <span class="header__hamburger-menu container__image"></span>
        </label>
        <ul class="list-menu">
            <li class="list-menu__item">
                <a href="#header" class="list-menu__link">Início</a>
            </li>
            <li class="list-menu__item">
                <a href="#highlight" class="list-menu__link">Destaques</a>
            </li>
            <li class="list-menu__item">
                <a href="#category" class="list-menu__link">Categorias</a>
            </li>
            <li class="list-menu__item">
                <a href="#newsletter" class="list-menu__link">Newsletter</a>
            </li>
            <li class="list-menu__item">
                <a href="#video" class="list-menu__link">Vídeos</a>
            </li>
            <li class="list-menu__item">
                <a href="#footer" class="list-menu__link">Contato</a>
            </li>
        </ul>
    </div>

    <div class="container container__logo">
        <img src="../../../assets/img/Logo-3.svg" alt="Logotipo da Trevo" class="container__image-logo">
    </div>

    <div class="container container__desktop">
        <a href="#header" class="container__link">Início</a>
        <a href="#highlight" class="container__link">Destaques</a>
        <a href="#category" class="container__link">Categorias</a>
        <a href="#newsletter" class="container__link">Newsletter</a>
        <a href="#video" class="container__link">Vídeos</a>
        <a href="#footer" class="container__link">Contato</a>
    </div>
    <div class="container container__whatsapp">
        <a href="#">
            <img src="../../../assets/img/WhatsApp.svg" alt="Logotipo do WhatsApp" class="container__image-logo">
        </a>
    </div>
</header>
