.newsletter {
    background: var(--green);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em 0;
}

.newsletter__title {
    color: var(--white);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

.newsletter__form {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5em;
}

.newsletter__form input {
    font-family: var(--main-font);
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 64px;
    margin: 10px;  
}

.newsletter__input {
    font-weight: 400;
    color: var(--light-gray);
    background: var(--white);
    text-indent: 1em;
}

.newsletter__input-submit {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    background: var(--black);
}

@media screen and (min-width: 769px) {
    .newsletter__form {
        flex-wrap: nowrap;
    }

    .newsletter__input-submit {
        margin-bottom: 1em;
    }
}

